__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/
env/

# Data and Databases
database/
attendance.csv

# Models
*.tflite
*.task

# Secrets
.env
.streamlit/secrets.toml

# Zip Files (Do not upload the Fiverr product to GitHub)
*.zip
